#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    z-index: 2;
    transition: width 0.3s ease;
}

#close-sidenav {
    height: 6%;
    width: auto;

    position: absolute;
    top: 0;
    right: 0;

    border: none;

    margin: 1rem;
}

#close-sidenav img {
    height: 100%;
    width: 100%;
}

#game-tabs-sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 3rem;
}

#game-tabs-sidenav button {
    width: 100%;

    margin: 1rem 0 1rem 0;
}
